/* sets parameters for the map, from module 13.2.3 */
html,
body,
#mapid {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#mapnb {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}


